aiposematic/__pycache__/__init__.cpython-311.pyc

aiposematic/__pycache__/__init__.cpython-313.pyc

__pycache__/statistical_analysis.cpython-313.pyc

uv.lock

analysis_results/comparison_butterfly/comparison_summary.txt

analysis_results/comparison_butterfly/difference_analysis/difference_analysis.png

analysis_results/comparison_butterfly/image1_analysis/analysis_summary.txt

analysis_results/comparison_butterfly/image1_analysis/entropy_analysis.png

analysis_results/comparison_butterfly/image1_analysis/pixel_correlations.png

analysis_results/comparison_butterfly/image1_analysis/pixel_distribution.png

analysis_results/comparison_butterfly/image2_analysis/analysis_summary.txt

analysis_results/comparison_butterfly/image2_analysis/entropy_analysis.png

analysis_results/comparison_butterfly/image2_analysis/pixel_correlations.png

analysis_results/comparison_butterfly/image2_analysis/pixel_distribution.png

analysis_results/comparison_qr/comparison_summary.txt

analysis_results/comparison_qr/difference_analysis/difference_analysis.png

analysis_results/comparison_qr/image1_analysis/analysis_summary.txt

analysis_results/comparison_qr/image1_analysis/entropy_analysis.png

analysis_results/comparison_qr/image1_analysis/pixel_correlations.png

analysis_results/comparison_qr/image1_analysis/pixel_distribution.png

analysis_results/comparison_qr/image2_analysis/analysis_summary.txt

analysis_results/comparison_qr/image2_analysis/entropy_analysis.png

analysis_results/comparison_qr/image2_analysis/pixel_correlations.png

analysis_results/comparison_qr/image2_analysis/pixel_distribution.png

analysis_results/original/analysis_summary.txt

analysis_results/original/entropy_analysis.png

analysis_results/original/pixel_correlations.png

analysis_results/original/pixel_distribution.png

analysis_results/scrambled_butterfly/analysis_summary.txt

analysis_results/scrambled_butterfly/difference_analysis.png

analysis_results/scrambled_butterfly/entropy_analysis.png

analysis_results/scrambled_butterfly/pixel_correlations.png

analysis_results/scrambled_butterfly/pixel_distribution.png

analysis_results/scrambled_qr/analysis_summary.txt

analysis_results/scrambled_qr/difference_analysis.png

analysis_results/scrambled_qr/entropy_analysis.png

analysis_results/scrambled_qr/pixel_correlations.png

analysis_results/scrambled_qr/pixel_distribution.png
